

.navbar{
    background-color: #BD1550;
}

.nav-link,
.navbar-brand,
.navbar-toggler-icon{
    color: white;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}